* {
    margin: 0;
    padding: 0;
    background: linear-gradient(green, blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    width: 200px;
    height: 200px;
    background: linear-gradient(green, blue);
    border: 5px solid ;
    border-radius: 50px;
    margin: 10px auto;
    /* animation: rgb 0.2s infinite; */
}

@keyframes rgb {
    0% {
        background-color: red;
    }
    /* 50% {
        background-color: green;
    } */
    100% {
        background-color: blue;
    }
}