* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10px;
}

.item {
    background-color: rgb(50, 180, 56);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 20px;
}

/*right-click inspect and decrease screen width to see the changes/effects*/
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr ;
    }
}