body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(270deg, white, #b4d2ef, white);

}

.form-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    /* height: 50px; */
    justify-content: center;
    margin-top: 30px;
}

.form-input {
    height: 50px;
    border-radius: 5px;
    width: 500px;
    font-size: x-large;
    font-weight: bold;
    border: 3px solid rgb(67, 67, 173);
}

.form-button {
    font-size: large;
    border-radius: 5px;
    width: 200px;
    padding: 17px;
    background-color: #04af04;
    color: white;
    border: none;
    cursor: pointer;
}
.form-button:active {
    transform: scale(0.99);
}

.task-sections  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.task-sections h2 {
    /* border: 2px solid grey; */
    /* border: none; */
    background-color: #8bbdec;
    border-radius: 10px;
    box-shadow: 3px 4px 10px -6px black;
    padding: 30px;
    width: calc(100vw - 72vw);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.task-sections h2:hover {
    background-color: #92c1ec;
}

.task-section {
    justify-content: center;
    
}

.app-header {
    font-size: 40px;
    text-align: center;
}

.task-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}

.task-name {
    list-style: none;
    background-color: #4545f1;
    width: calc(100vw - 82vw);
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-left: -37px;
    overflow-wrap: anywhere;
}
.ongoing {
    background-color: #ffff00;
    color: black;
}
.completed {
    background-color: #04af04;
}

.task-button {
    background-color: #04af04;
    padding: 6px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.task-button:hover {
    transform: scale(1.1);
}

.remove-task {
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    align-self: center;
}
.remove-task:hover {
    transform: scale(1.2);
}

.clear-all {
    background-color: red;
    color: white;
    display: flex;
    justify-self: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.no-tasks {
    display: flex;
    justify-self: center;
    color: gray; 
}

.edit-screen {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin-top: -100px;
}

.edit-task {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 15px;
    width: 380px;
    height: 150px;
    padding: 30px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    background-color: #b4d2ef;
}
.edit-input {
    border-radius: 5px;
    width: 380px;
    height: 30px;
    font-size: large;
}
.edit-cancel {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}
.edit-save {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #04af04;
    color: white;
    cursor: pointer;
}

.task-edit {
    height: 20px;
    width: 20px;
    cursor: pointer;
    align-self: center;
}
.task-edit:hover {
    transform: scale(1.2);
}
